.outermost-border {
  background-color: lightgrey;
  padding: 16px;
}

.outer-border {
  background-color: black;
  padding: 16px;
}

.middle-border {
  background-color: crimson;
  padding: 24px;
}

.inner-border {
  background-color: khaki;
  padding: 30px;
  height: 100vh; 
  text-align: center;
}

.title {
  font-size: 72px;
  margin: 0;
  color: black;
}